@model DiscountMe.BL.ViewModels.DiscountVM

<aside>
    <img src="@Url.Content("~/Images/advertisers-store-icon.png")" alt="" width="240" height="192"/>
</aside>

<article>
    <table class="box_round box_shadow">
        <tbody>
            <tr>
                <td>@Html.DropDownList("SelectedCategoryId", new SelectList(Model.DiscountCategories, "Id", "Name"), new {@class="DropDownList"} )</td>
                <td>@Html.EditorFor(m => m.Discount)</td>   
            </tr>
        </tbody>
   </table>
</article> 