@{
    ViewBag.Title = "Como Funciona";
}
<a name="top"></a>

<h2>¿Como Funciona?</h2>

<aside>
    <img src="@Url.Content("~/Images/howitworks-icon.png")" alt="" width="240" height="192"/>
    
    <div class="box_round box_columns">
        <div class="float-left"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dev.twitter.com/pages/tweet_button" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a></div>
        <g:plusone size="tall"></g:plusone>
        <div class="fb-like" data-href="http://www.iberasoft.com" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true" data-font="segoe ui"></div>
    </div>
</aside>

<article>
    <a name="one"><h3>LOCALIZA PROMOCIONES DISCOUNTME CERCA DE TI</h3></a>
    <p>DiscountMe siempre tiene promociones en tu Smartphone, cerca de tu posición y en base a tus preferencias. Disfrutar de las promociones es gratuito y gracias a nuestra sencilla aplicación, te resultará muy fácil elegir tu opción preferida de forma rápida, nunca tardarás más de tres clicks en obtener la promoción que quieres ahora.</p>
    <h5>TIPOS DE PROMOCIONES</h5>
    <p>Las campañas Para Mí son promociones creadas por los comercios especialmente para ti, las cuales encontrarás en base a tu localización y preferencias. La duración de las campañas está definida por cada establecimiento, así que comprueba la validez de las promociones.</p>
    <p>Las campañas Express son promociones creadas igualmente por el comercio y de duración muy corta: sólo están disponibles unas horas. Happy hours, o compras flash son los mejores ejemplos. Una diferencia importante para ti como usuario, es que los propios comercios informarán de la activación de las campañas a los miembros de su Club, por que quien tiene un cliente tiene un amigo.</p>
    <p>Únicamente para los Clubs a los que perteneces, podrás proponer planes, de modo que les cuentes por anticipado tus necesidades y los comercios busquen la mejor solución para las mismas. El comercio podrá aceptar o no tu plan, por lo que sigue de cerca tus conversaciones con tus Clubs favoritos.</p>
</article>


<article>
    <a name="two"><h3>DISFRUTA TU PROMOCIÓN</h3></a>
    <p>Pulsa “Lo quiero” y listo. Así de fácil, sin pagos con tarjetas de crédito ni gastos asociados. Te diriges al local, y enseñando el código de autorización generado por DiscountMe, y disponible en tu Smartphone, el local te aplicará la promoción asociada: sólo en el local harás efectiva la compra.</p>
    <p>Porque la acción en DiscountMe sucede en el local, en la calle, para que vuelvas a descubrir tu ciudad y el placer de conocer y ser tratado de forma especial en tus compras y ocio diario.</p>
    <p>¡ES MUY FÁCIL!</p>
</article>

<article>
    <a name="four"><h3>PROPÓN PLANES A TUS CLUBS</h3></a>
    <p>¿Quieres hacer una fiesta con 10 amigos y buscas dónde? ¿Te apetece comprar en tu tienda de moda favorita esa blusa que has visto en tu último viaje?</p>
    <p>Una ventaja más de ser fan de tus comercios favoritos en DiscountMe es que podrás proponerles tus planes para que ellos busquen la mejor opción para ti. Muy sencillo. Prueba a contarles tu plan y verás el mundo de oportunidades que se te abre.</p>
    <p>Disfruta de la nueva forma de relacionarte con tus Clubs y verás la complicidad que ellos generan contigo.</p>
    <p>¿A qué esperas para descargártelo?</p>
</article>
<article><a href="#top">Arriba</a></article>