@model DiscountMe.BL.ViewModels.DiscountVM
           
@{
    ViewBag.Title = "Create";
}

<h2>Ingrese un nuevo descuento</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fields</legend>
        
        <div class="editor-label">
            @Html.EditorForModel(Model)
        </div>
        <article>
           @Html.ActionLink("<< Volver", "Index", null, new { @class = "button" })   <input type="submit" value="Crear" />
        </article>
    </fieldset>
}
