@model DiscountMe.BL.Discount

@{
    ViewBag.Title = "Eliminar oferta";
}

<h2>Eliminar descuento</h2>

<aside>
    <img src="../../../Images/advertisers-store-icon-gray.png" alt="" width="240" height="192"/>
</aside>

<article>
    <h3 class="message-error">¿Está seguro que desea eliminar el producto @Model.ProductName de su lista?</h3>
    @using (Html.BeginForm()) {
        <fieldset>
        <legend>Fields</legend>
            <div class="editor-label">
                @Html.EditorForModel(Model)
            </div>
        <article>
           @Html.ActionLink("<< Volver", "Index", null, new {@class="button"})  <input type="submit" value="Eliminar" />
        </article>
    </fieldset>
}
</article>