@{
    ViewBag.Title = "Advertisers";
}

<h2>¿Eres un Anunciante?</h2>

<aside>
    <img src="../../Images/advertisers-location-icon.png" alt="" width="240" height="192"/>
    
    <div class="box_round box_columns">
        <div class="float-left"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dev.twitter.com/pages/tweet_button" data-via="your_screen_name" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a></div>
        <g:plusone size="tall"></g:plusone>
        <div class="fb-like" data-href="http://www.iberasoft.com" data-send="false" data-layout="box_count" data-width="450" data-show-faces="true" data-font="segoe ui"></div>
    </div>
</aside>

<article>
    <p>DiscountMe es el primer entorno donde los comercios interactúan de una forma directa con sus clientes, intercambiando momentos y oportunidades, con el único objetivo de aumentar el número de clientes que van a los comercios.</p>
    <p>Tu comercio tendrá una identidad y una imagen, porque DiscountMe introduce el concepto de Club, un espacio exclusivo para que tus clientes te sigan y se beneficien de ofertas exclusivas así como de la posibilidad de que ellos te presenten a ti, como comercio, sus propuestas de planes, de modo que se generen más momentos de cercanía con tus clientes. Así conseguirás clientes más fieles a tu comercio.</p>
    <p>DiscountMe nace con la obsesión de que las acciones de promociones generen un aumento de ingresos con un beneficio real asociado desde el primer día y con cada cliente. Esto es fundamental, siempre.</p>
    <p>A continuación te presentamos una serie de ventajas por las cuales tu pertenencia en el programa de DiscountMe hacen una diferencia para ti:</p>
</article>

<article>
    <h3>VENTAJAS</h3>
    <p>Recupera a tus clientes: habla con ellos y escucha lo que quieren</p>
    <p>DiscountMe ayuda a los comercios a que se dirijan y comuniquen con personas y clientes, generando las condiciones para que puedan incrementar el número de visitas en tiempo real a través de mecanismos de promociones y ofertas.</p>
    <p>DiscountMe es el mejor escaparate para que clientes potenciales y recurrentes escuchen lo que un comercio les quiere decir, por qué han de elegirle a él frente a otras opciones: en definitiva, DiscountMe es el mejor vehículo para que los clientes entren de nuevo en tu local.</p>
    <h3>Define las promociones a tu manera</h3>
    <p>DiscountMe lleva clientes a cada comercio a través de promociones y ofertas que los clientes encuentran en su teléfono móvil, basadas en su localización y preferencias de uso.</p>
    <p>Las promociones las define cada comercio, tanto en su forma como en los mensajes y textos que el cliente ve en DiscountMe, por lo que el comercio tiene el control para cuidar su imagen y posicionamiento frente a su clientela.</p>
    <p>DiscountMe apoya a cada comercio en la definición de las mismas, para que nuestra experiencia ayude a cada comercio a aumentar el número de clientes.</p>
    <p>Así mismo, la extensión de la imagen de su local asociada al Club en DiscountMe, incrementa el contacto con sus clientes, lo que aumenta el número de visitas al establecimiento.</p>
    <h3>Tienes diferentes alternativas de promociones</h3>
    <p>DiscountMe trabaja duramente para ofrecer diferentes mecanismos a los comercios con el único objetivo de aumentar el número de visitas a sus locales.</p>
    <p>Para ello, tenemos diferentes mecanismos que se ajustan a las necesidades de los establecimientos asociados.</p>
    <p>Por un lado, las campañas Para Mí son promociones y ofertas diseñadas por los comercios especialmente para su cliente objetivo, las cuales serán encontradas por éstos en base a la localización de su teléfono móvil y sus preferencias de usuarios.</p>
    <p>Igualmente, las campañas Express son diseñadas por cada tienda o local, con un claro objetivo de conseguir una respuesta directa, con una duración estándar de horas. Este tipo de campañas son enviadas en primer lugar a los miembros del Club del local de modo que se genere una relación más estrecha con los mejores clientes.</p>
    <p>Y un mecanismo muy novedoso que DiscountMe introduce es la posibilidad que los mejores clientes de cada local, los seguidores de su Club, puedan hacer propuestas de planes y promociones al local, de modo que es el cliente el que presenta propuestas a su local favorito. DiscountMe ve este mecanismo como el momento más dulce de la relación de un comercio con sus clientes, dado que se ha llegado a un nivel de confianza y cercanía, que ellos mismos son los que cuentan al local sus necesidades.</p>
    <h3>El cliente siempre es tuyo</h3>
    <p>La relación entre el comercio y sus clientes es siempre del establecimiento, esto es la base de partida del entorno de DiscountMe.</p>
    <p>El comercio puede entender de forma sencilla, con la ayuda de las herramientas de DiscountMe, la actividad de su base de clientes y premiar a los miembros de su Club con alertas exclusivas de ofertas y promociones así como a través de las ofertas generadas por el usuario, donde es el cliente quien realiza peticiones al comercio con planes de ocio y compras.</p>
</article>
